<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link href="~/Content/Layui_X_Admin/css/font.css" rel="stylesheet" />
    <link href="~/Content/Layui_X_Admin/css/xadmin.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Content/Layui_X_Admin/lib/layui/layui.js"></script>
    <script src="~/Content/Layui_X_Admin/js/xadmin.js"></script>

    @*vue*@
    <script src="~/Content/VueScripts/vue.js"></script>
    <script src="~/Content/VueScripts/axios.js"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="layui-anim layui-anim-up">
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">绩效考核</a>
            <a>
                <cite>考勤统计</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i>
        </a>
    </div>
    <div class="x-body" id="app">
        <div class="layui-row">
            <form class="layui-form layui-col-md12 x-so">

                <div style="width:150px;float:left;">
                    <select style="width:300px;" lay-verify="">
                        <option value="0">===请选择===</option>
                        <option value="0">单位科室</option>
                    </select>
                </div>
                <div style="width:150px;float:left;">
                    <select style="width:300px;float:left;" lay-verify="">
                        <option value="0">===请选择===</option>
                        <option value="0">派出单位</option>

                    </select>
                </div>
                &nbsp;&nbsp;
                <input type="text" name="startendtime" placeholder="选择日期" autocomplete="off" class="layui-input" id="startendtime" style="width:200px;">
                <input class="layui-input" placeholder="开始日" name="start" id="start">
                <input class="layui-input" placeholder="截止日" name="end" id="end">
                &nbsp;&nbsp;
                <input type="month" placeholder="选择日期" style="width:200px;" autocomplete="off" class="layui-input" />
                <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            </form>
        </div>
        <xblock>
            @*<button class="layui-btn layui-btn-danger small" v-on:click="signIn()"><i class="layui-icon">&#xe66c;</i>签到</button>
            <button class="layui-btn layui-btn-small" v-on:click="signBack()"><i class="layui-icon">&#xe65b;</i>签退</button>*@
            <span class="x-right" style="line-height:40px">共有数据：88 条</span>
        </xblock>
        <table class="layui-table" lay-size="sm">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>签到时间</th>
                    <th>签退时间</th>
                    <th>签到状态</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in GetCheckingIns">
                    <td>{{index+1}}</td>
                    <td>{{item.SignInTime}}</td>
                    <td>{{item.SignBackTime}}</td>
                    <td id="statetd">
                        @*{{item.SignInState}}*@
                        {{item.StrState}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="page">
            <div>
                <a class="prev" href="">&lt;&lt;</a>
                <a class="num" href="">1</a>
                <span class="current">2</span>
                <a class="num" href="">3</a>
                <a class="num" href="">489</a>
                <a class="next" href="">&gt;&gt;</a>
            </div>
        </div>
    </div>
    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                elem: '#startendtime' //指定元素
            });
        });
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });
    </script>
    <script>
    var _hmt = _hmt || []; (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();</script>
</body>
</html>

<script type="text/javascript">
    //var StaffId = 1;
    //var vm = new Vue({
    //    el: "#app",
    //    data: {
    //        GetCheckingIns: []
    //    },
    //    // 挂载完成时
    //    mounted() {
    //        this.getCheckingIn(StaffId);
    //    },
    //    methods: {
    //        //显示签到记录
    //        getCheckingIn: function (StaffId) {
    //            axios.get("http://localhost:8099/checkingIn/getCheckingIn?StaffId=" + StaffId).then(
    //                (response) => {
    //                    console.log(response);
    //                    this.GetCheckingIns = response.data;
    //                },
    //                (response) => {
    //                    alert(response.status);
    //                }
    //            ).catch(function (response) {
    //                alert(response);
    //            });
    //        },

    //        //签到/签退
    //        signIn: function () {
    //            var aoru = 1;
    //            var staffId = 1;
    //            var staffName = '张三';
    //            axios.post('http://localhost:8099/checkingIn/checkingIn?StaffId=' + staffId + "&StaffName=" + staffName + "&aoru=" + aoru).then(
    //                (response) => {
    //                    console.log(response.data);
    //                    if (response.data > 0) {
    //                        layer.msg( '签到成功！', { icon: 1 });
    //                        this.getCheckingIn(staffId);
    //                    }
    //                    //console.info(this.list);
    //                },
    //                (response) => {
    //                    alert(response.status);
    //                }
    //            ).catch(function (response) {
    //                alert(response);
    //            });
    //        },

    //        //签退
    //        signBack: function () {
    //            var aoru = 2;
    //            var staffId = 1;
    //            var staffName = '张三';
    //            axios.post('http://localhost:8099/checkingIn/checkingIn?StaffId=' + staffId + "&StaffName=" + staffName + "&aoru=" + aoru).then(
    //                (response) => {
    //                    console.log(response.data);
    //                    if (response.data > 0) {
    //                        layer.msg('签退成功！', { icon: 1 });
    //                        this.getCheckingIn(staffId);
    //                    }
    //                    //console.info(this.list);
    //                },
    //                (response) => {
    //                    alert(response.status);
    //                }
    //            ).catch(function (response) {
    //                alert(response);
    //            });
    //        }
    //    },
    //})
</script>

