
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetHolidaySettingsView</title>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="~/Content/My97DatePicker/My97DatePicker/WdatePicker.js"></script>
    @*<script src="~/Content/My97DatePicker/My97DatePicker/calendar.js"></script>*@
    <script src="~/Content/My97DatePicker/My97DatePicker/lang/zh-cn.js"></script>
    <style>
        .page-bar {
            margin: 40px;
        }

        ul, li {
            margin: 0px;
            padding: 0px;
        }

        li {
            list-style: none
        }

        .page-bar li:first-child > a {
            margin-left: 0px
        }

        .page-bar a {
            border: 1px solid #ddd;
            text-decoration: none;
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            cursor: pointer
        }

            .page-bar a:hover {
                background-color: #eee;
            }

            .page-bar a.banclick {
                cursor: not-allowed;
            }

        .page-bar .active a {
            color: #fff;
            cursor: default;
            background-color: #337ab7;
            border-color: #337ab7;
        }

        .page-bar i {
            font-style: normal;
            color: #d44950;
            margin: 0px 4px;
            font-size: 12px;
        }


        .div-td table td {
            width: 30px;
            line-height: 15px
        }
    </style>
</head>
<body>
    <div id="app" class="div-td">
        <input id="Button1" type="button" value="添加" onclick="location.href='AddHolidaySettingsView'" />
        <table v-show="list.length" class="table-condensed" border="1">
            <tr>
                <th>假期设置ID</th>
                <th>上班时间(上午)</th>
                <th>下班时间(上午)</th>
                <th>上班时间(下午)</th>
                <th>上班时间(下午)</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>是否启用</th>
                <th>编辑</th>
            </tr>
            <tr v-for="item in list">
                <td>{{item.Id}}</td>
                <td><input type="text" v-model="item.OfficeHoursam" /></td>
                <td><input type="text" v-model="item.ClosingTimeam" /></td>
                <td><input type="text" v-model="item.OfficeHourspm" /></td>
                <td><input type="text" v-model="item.ClosingTimepm" /></td>
                @*<td>
                        <input class="Wdate" type="text" v-model="item.CreationTime" onClick="WdatePicker({ el: this, dateFmt: 'yyyy-MM-dd HH:mm:ss', readOnly: true, isShowClear: false })">
                        <font color=red>&lt;- 点我弹出日期控件</font>
                    </td>*@

                <td><input type="text" v-model="item.CreationTime" readonly="readonly" /></td>
                <td><input type="text" v-model="item.ModificationTime" readonly="readonly" /></td>
                @*<td>
                        <input class="Wdate" type="text" v-model="item.ModificationTime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly: true, isShowClear: false})">
                        <font color=red>&lt;- 点我弹出日期控件</font>
                    </td>*@

                <td>
                    <input id="Radio1" type="radio" v-model="item.IsStart" value="1">是
                    &nbsp;&nbsp;&nbsp;
                    <input id="Radio1" type="radio" v-model="item.IsStart" value="0" />否
                </td>

                <td>
                    <div v-if="item.Id!=''">
                        <a href="javascript:;" v-on:click="DeleteHolidaySettings(item.Id)">删除</a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="javascript:;" v-on:click="UpdateHolidaySettings(item.Id, item.OfficeHoursam, item.ClosingTimeam, item.OfficeHourspm, item.ClosingTimepm, item.CreationTime, item.IsStart)">修改</a>
                    </div>
                </td>

            </tr>

        </table>
        <div class="page-bar">
            <ul>
                <li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
                <li v-if="cur==1"><a class="banclick">上一页</a></li>
                <li v-for="index in indexs" v-bind:class="{ 'active': cur == index}">
                    <a v-on:click="btnClick(index)">{{ index }}</a>
                </li>
                <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
                <li v-if="cur == all"><a class="banclick">下一页</a></li>
                <li><a>共<i>{{all}}</i>页</a></li>
            </ul>
        </div>

    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            IsStart: "",
            list: [],
            all: 6, //总页数
            cur: 1//当前页码

        },
        watch: {
            cur: function (oldValue, newValue) {
            }
        },
        mounted() {
            this.getList(this.cur);
        },
        methods: {
            btnClick: function (data) {//页码点击事件
                if (data != this.cur) {
                    this.cur = data;
                    this.getList(data);


                }
            },
            pageClick: function () {
                //console.log('现在在' + this.cur + '页');
                this.getList(this.cur);
            },

            //获取补助标准标准信息
            getList: function (id) {
                axios.get('http://localhost:8099/HolidaySettings/GetHolidaySettings', { params: { pageIndex: id } }).then((response) => {
                    this.list = [];
                    this.cur = response.data.CurrentPage;
                    this.all = response.data.TotlePage;

                    for (var i = 0; i < response.data.Data.length; i++) {
                        this.list.push(response.data.Data[i]);
                    }
                },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
            //删除补助标准标准信息
            DeleteHolidaySettings: function (id) {
                axios.get('http://localhost:8099/HolidaySettings/DeleteHolidaySettings?Id=' + id).then((respose) => {
                    if (respose.data > 0) {
                        alert("删除成功!!!");
                        this.getList();
                    }
                },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
            //修改补助标准标准信息
            UpdateHolidaySettings: function (Id, OfficeHoursam, ClosingTimeam, OfficeHourspm, ClosingTimepm, CreationTime, IsStart) {
                var params = new URLSearchParams();
                params.append('Id', Id);
                params.append('OfficeHoursam', OfficeHoursam);
                params.append('ClosingTimeam', ClosingTimeam);
                params.append('OfficeHourspm', OfficeHourspm);
                params.append('ClosingTimepm', ClosingTimepm);
                params.append('CreationTime', CreationTime);
                params.append('IsStart', IsStart);
                axios.post('http://localhost:8099/HolidaySettings/UpdateHolidaySettings', params).then(
                    (response) => {
                        console.log(response.data);
                        if (response.data > 0) {
                            alert("修改成功!!!");
                            this.getList();
                        }
                        //console.info(this.list);
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },

        },
        //计算属性
        computed: {
            indexs: function () {
                var left = 1;
                var right = this.all;
                var ar = [];
                if (this.all >= 5) {
                    if (this.cur > 3 && this.cur < this.all - 2) {
                        left = this.cur - 2
                        right = this.cur + 2
                    } else {
                        if (this.cur <= 3) {
                            left = 1
                            right = 5
                        } else {
                            right = this.all
                            left = this.all - 4
                        }
                    }
                }
                while (left <= right) {
                    ar.push(left)
                    left++
                }
                return ar
            }

        }
    })
</script>
