
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPermission</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <script>
        $(function () {
            //跳转到显示
            $("#Getpermission").click(function () {
                location.href = "/PartnerMVC/GetPermission";
            })
            //判断是否是父节点
            $("input[name=isPid]").click(function () {
                if ($("input[name=isPid]:checked").val() == "1") {
                    $("#pIDShow").show();
                }
                else {
                    $("#pIDShow").hide();
                }
            })
            //获得权限父节点
            $.ajax({
                url: "http://localhost:8099/Jurisdiction/GetPermissionsByPid?Pid=0",
                type: "get",
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#selet").append("<option value='" + data.Id + "'>" + data.PermissionName + "</option>");
                    })
                }
            })


            //添加
            $("#AddPermission").click(function () {
                $.ajax({
                    url: "http://localhost:8099/Jurisdiction/AddPermission",
                    type: "post",
                    data: $("#addform").serialize(),
                    success: function (data) {
                        if (data > 0) {
                            alert("添加成功！");
                        }
                    }
                })
            })
           
        })
        //function Getpermission() {
            //    location.href = "/PartnerMVC/GetPermission";
            //}
    </script>
</head>
<body>
    <form id="addform">
        <div style="text-align: center;">
            <span style="font-size:30px;text-align:center" >添加权限</span>
            <table align="center" class="table table-hover table-bordered" style="width:500px;text-align:center;line-height:60px">
                <tr>
                    <td>权限名称</td>
                    <td><input id="Text1" type="text" name="PermissionName" /></td>
                </tr>
                <tr>
                    <td>权限URL</td>
                    <td><input id="Text1" type="text" name="PermissionUrl" /></td>
                </tr>
                <tr>
                    <td>创建时间</td>
                    <td><input id="Text1" type="datetime-local" name="CreateTime" /></td>
                </tr>
                <tr>
                    <td>是否是父节点</td>
                    <td>
                        <input id="IsPid" type="radio" name="isPid" value="0" />是
                        <input id="NoPid" type="radio" name="isPid" value="1" checked="checked" />否
                    </td>
                </tr>
               
                <tr id="pIDShow">
                    <td>父节点</td>
                    <td>
                        <select id="selet" name="Pid">
                            <option value="0">==请选择==</option>
                           
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>是否启用</td>
                    <td>
                        <input id="Radio1" type="radio" name="IsStart" checked="checked" value="1" />是
                        <input id="Radio1" type="radio" name="IsStart" value="0" />否
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input style="width:90px;" id="AddPermission" type="button" class="btn btn-info"  value="添加权限" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="Getpermission" style="width:90px;"id="GetPermission" type="button"class="btn btn-danger" onclick="Getpermission()" value="显示" />
                    </td>
                </tr>
            </table>
        </div>
    </form>

</body>
</html>
