
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddRoles</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <style>
        li{
            list-style:none;
        }
    </style>
    <script>
        var permissionId = 0;
        var list = [];
        function PermisionShow(obj) {
            //判断选中权限父节点追加权限子节点
            if ($(obj).prop("checked")) {
                $(list).each(function (index, data) {
                    var str = "<ul>";
                    if (data.Pid == $(obj).val()) {
                        str += "<li><input type='checkbox' class='cks'  name='PermissionNames' value=" + data.Id + ">" + data.PermissionName + "</li>";
                    }
                    str += "</ul>";
                    $(obj).parent().next().append(str)
                })
            }
            else {
                $(obj).parent().next().empty();
            }
        }

        $(function () {
            //跳转到显示
            $("#Getpermission").click(function () {
                location.href = "/PartnerMVC/GetRoles";
            })


            //加载权限
            $.ajax({
                url: "http://localhost:8099/Jurisdiction/GetPermissions", //ByPid?Pid = 0
                type: "get",
                success: function (data) {
                    console.log(data);
                    list = data;
                    $(data).each(function (index, data) {
                        var str = "<ul>";
                        if (data.Pid == 0) {
                            str += "<li><input type='checkbox' class='cks' onclick='PermisionShow(this)' name='PermissionNames' value=" + data.Id + ">" + data.PermissionName + "</li><div></div>"
                        }
                        str += "</ul>";
                        $("#div1").append(str);
                    })
                }



                //success: function (data) {
                //    //var str = '<dl>';
                //    var str = '<table><tr>';
                //    list = data;
                //    $(data).each(function (index, data) {
                //        if (data.Pid == 0) {
                //            str += "<label> <input type='checkbox' onclick='PermisionShow(this)'  name='PermissionName' value=" + data.Id + ">" + data.PermissionName + "</label>&nbsp;&nbsp;&nbsp;&nbsp;<label></label>"                           
                //        }
                //    })

                //    //str += '</dl>'
                //    str += '</tr></table>';
                //    $("#div1").append(str);
                //}

            });
            //添加
            $("#AddRoles").click(function () {
                var PeremissionIds = [];
                $("input[name=PermissionNames]:checked").each(function () {
                    PeremissionIds.push($(this).val());
                })
                var PermissionNames = [];
                $("input[name=PermissionName]:checked").each(function () {
                    PermissionNames.push($(this).parent().text());
                })
                alert($("#addform").serialize().toString());
                $.ajax({
                    url: "http://localhost:8099/Jurisdiction/AddRoles",
                    type: "post",
                    data: $("#addform").serialize(),
                    //data: {
                        //RoleName: $("input[name=RoleName]").val(),
                        //Role_PeremissionIds: PeremissionIds.join(','),
                        //CreateTime: $("input[name=CreateTime]").val(),

                        //IsStart: $("input[name=CreateTime]").attr("checked","checked"),

                    //},
                    success: function (data) {
                        if (data > 0) {
                            alert("添加成功！");
                        }
                    }
                })
            })
        })
        //function Getpermission() {
        //    location.href = "/PartnerMVC/GetPermission";
        //}
    </script>
</head>
<body>
    <form id="addform">
        <div style="text-align: center;">
            <span style="font-size:30px;text-align:center">添加角色</span>
            <table align="center" class="table table-hover table-bordered" style="width:600px;text-align:center;line-height:60px">
                <tr>
                    <td>角色名称</td>
                    <td><input id="Text1" type="text" name="RoleName" /></td>
                </tr>
                
                <tr>
                    <td>权限</td>
                    <td>
                        <div id="div1"></div>
                    </td>
                </tr>
                <tr hidden="hidden">
                    <td>创建时间</td>
                    <td><input  id="Text1" type="text" name="CreateTime"value="@DateTime.Now" /></td>
                </tr>

                <tr>
                    <td>是否启用</td>
                    <td>
                        <input id="Radio1" type="radio" name="IsStart" checked="checked" value="1" />是
                        <input id="Radio1" type="radio" name="IsStart" value="0" />否
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input style="width:90px;" id="AddRoles" type="button" class="btn btn-info" value="添加角色" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="Getpermission" style="width:90px;" type="button" class="btn btn-danger" onclick="Getpermission()" value="显示" />
                    </td>
                </tr>
            </table>
        </div>
    </form>

</body>
</html>
