
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUserManagement</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <style>
        li {
            list-style: none;
        }
    </style>
    <script>
        var permissionId = 0;
        var list = [];
     

        $(function () {
            ////跳转到显示
            //$("#GetUsers").click(function () {
            //    location.href = "/PartnerMVC/AdminList";
            //})


            //加载角色
            $.ajax({
                url: "http://localhost:8099/Jurisdiction/GetRoles",
                type: "get",
                success: function (data) {
                    //var str = '<dl>';
                    var str = '<table><tr>';
                    list = data;
                    $(data).each(function (index, data) {
                        
                        str += "<label> <input type='checkbox'  name='RoleIds' value=" + data.Id + ">" + data.RoleName + "</label>&nbsp;&nbsp;&nbsp;&nbsp;<label></label>"
                       
                    })

                    //str += '</dl>'
                    str += '</tr></table>';
                    $("#div1").append(str);
                }

            });
            //添加
            $("#AddUser").click(function () {
            
                var RoleIds = [];
                $("input[name=RoleId]:checked").each(function () {
                    RoleIds.push($(this).parent().text());
                })

             
                $.ajax({
                    url: "http://localhost:8099/Jurisdiction/AddUser",
                    type: "post",
                    data: $("#addform").serialize(), 
                   
                    success: function (data) {
                        console.log(data)
                        if (data > 0) {
                           // alert("添加成功！");
                            location.href = "/PartnerMVC/AdminList";
                        }
                    }
                })
            })
        })
     
    </script>
</head>
<body>
    <form id="addform">
        <div style="text-align: center;">
            <span style="font-size:30px;text-align:center">添加用户</span>
            <table align="center" class="table table-hover table-bordered" style="width:600px;line-height:60px">
                <tr >
                    <td style="width:100px">登录名：</td>
                    <td><input id="Text1" type="text" name="UserName" /></td>
                </tr>

                <tr>
                    <td>密码：</td>
                    <td>
                        <input id="Text1" type="text"  name="UserPassword" />
                    </td>
                </tr>
                <tr>
                    <td>组织机构：</td>
                    <td>
                        <input id="Text1" type="text" name="InstitutionalFramework" />
                    </td>
                </tr>
                <tr>
                    <td>角色：</td>
                    <td>
                       
                        <div id="div1"></div>
                    </td>
                </tr>
       
                
                <tr hidden="hidden">
                    <td>创建时间</td>
                    <td><input id="Text1" type="text" name="CreationTime" value="@DateTime.Now" /></td>
                </tr>
                <tr hidden="hidden">
                    <td>修改时间</td>
                    <td><input id="Text1" type="text" name="ModificationTime" value="@DateTime.Now" /></td>
                </tr>
                <tr>
                    <td>是否启用</td>
                    <td>
                        <input id="Radio1" type="radio" name="IsStart" checked="checked" value="1" />是
                        <input id="Radio1" type="radio" name="IsStart" value="0" />否
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input style="width:90px;" id="AddUser" type="button" class="btn btn-info" value="添加用户" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="GetUsers" style="width:90px;" type="button" class="btn btn-danger" value="显示" />
                    </td>
                </tr>
            </table>
        </div>
    </form>

</body>
</html>
