
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateRoles</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <style>
        li {
            list-style: none;
        }
        /*顶部下拉信息提示框*/
        .messageBox {
            height: 52px;
            padding: 0 53px 0 78px;
            line-height: 52px;
            /*background: url(/Images/img-set1.png) -441px -613px #ffffe7 no-repeat;*/
            background: url(../../Images/img-set1.png) -441px -613px #ffffe7 no-repeat;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            position: fixed;
            top: -60px;
            left: 50%;
            border: 5px solid #ddd;
            border-top: 0;
            color: #444;
            font-size: 18px;
            z-index: 9999;
        }

        .messageError {
            background-position: -441px -673px;
        }
    </style>
    <script>
        var permissionId = 0;
        var list = [];
        function PermisionShow(obj) {
            //判断选中权限父节点追加权限子节点
            if ($(obj).prop("checked")) {
                $(list).each(function (index, data) {
                    var str = "<ul>";
                    if (data.Pid == $(obj).val()) {
                        str += "<li><input type='checkbox' class='cks'  name='PermissionNames' value=" + data.Id + ">" + data.PermissionName + "</li>";
                    }
                    str += "</ul>";
                    $(obj).parent().next().append(str)
                })
            }
            else {
                $(obj).parent().next().empty();
            }
        }

        $(function () {
            //跳转到显示
            $("#Getpermission").click(function () {
                location.href = "/PartnerMVC/RoleList";
            })


            //加载权限
            $.ajax({
                url: "http://localhost:8099/Jurisdiction/GetPermissions",
                type: "get",
                async: false,
                success: function (data) {
                    console.log(data);
                    list = data;
                    $(data).each(function (index, data) {
                        var str = "<ul>";
                        if (data.Pid == 0) {
                            str += "<li><input type='checkbox' class='cks' onclick='PermisionShow(this)' name='PermissionNames' value=" + data.Id + ">" + data.PermissionName + "</li><div></div>"
                        }
                        str += "</ul>";
                        $("#div1").append(str);
                    })
                }

                //  success: function (data) {
                //    //var str = '<dl>';
                //    var str = '<table><tr>';
                //    list = data;
                //    $(data).each(function (index, data) {
                //        if (data.Pid == 0) {
                //            str += "<label> <input type='checkbox' onclick='PermisionShow(this)'  name='PermissionName' value=" + data.Id + ">" + data.PermissionName + "</label>&nbsp;&nbsp;&nbsp;&nbsp;<label></label>"
                //        }
                //    })

                //    //str += '</dl>'
                //    str += '</tr></table>';
                //    $("#div1").append(str);
                //}
            });

              //反填
            $.ajax({
                url: "http://localhost:8099/Jurisdiction/GetRolesById",
                type: "get",
                data: {
                    @*Id:@Request.QueryString["Id"],*@
                    Id:@ViewBag.Id,
                },
                success:function (data) {
                    $("input[name = Id]").val(data.Id);
                    $("input[name=RoleName]").val(data.RoleName);
                  //  $("input[name=Role_PeremissionIds]").val(data.Role_PeremissionIds);

                    $("input[name=CreateTime]").val(data.CreateTime);
                    $("input[name=IsStart][value ='" + data.IsStart + "'] ").attr("checked","checked");

                    $(data.Role_PeremissionIds.split(",")).each(function (index, data) {
                        console.log(data)
                        $("input[name=PermissionNames][value=" + data + "]").prop("checked", true);
                    })
                    var ids = data.Role_PeremissionIds.split(",");
                    $("input[name=PermissionNames]:checked").each(function (index, data) {
                        var checkBox = data;
                        $(list).each(function (index, data) {
                            if ($(checkBox).val() == data.Pid) {
                                var judge = false;

                                $(ids).each(function (index, id) {
                                    if (id == data.Id) {
                                        judge = true;
                                    }
                                })
                                var str = "<ul>";
                                if (judge) {
                                    str += "<li><input type='checkbox'   name='PermissionNames' checked='checked' value=" + data.Id + ">" + data.PermissionName + "</li>";
                                }
                                else {
                                    str += "<li><input type='checkbox'   name='PermissionNames' value=" + data.Id + ">" + data.PermissionName + "</li>";
                                }
                                str += "</ul>";
                                $(checkBox).parent().next().append(str)
                            }
                        })
                    })
                }
            })

            //修改
            $("#AddPermission").click(function () {
                var PeremissionIds = [];
                $("input[name=PermissionNames]:checked").each(function () {
                    PeremissionIds.push($(this).val());
                })
                var PermissionNames = [];
                $("input[name=PermissionName]:checked").each(function () {
                    PermissionNames.push($(this).parent().text());
                })
                async: false;
                $.ajax({
                    url: "http://localhost:8099/Jurisdiction/UpdateRoles",
                    type: "post",
                    data: $("#addform").serialize(),
                    success: function (data) {
                        if (data > 0) {
                            //页头下拉提示框
                            $(".messageBox").removeClass("messageError").text("登录成功！！").css("margin-left", -($(".messageBox").outerWidth() / 2)).animate({ top: 0 }, "fast").delay(1500).animate({ top: "-57px" }, "fast");
                           // location.href = "/PartnerMVC/RoleList";
                        }
                    }
                })
            })

        })
 
    </script>
</head>
<body>
    <form id="addform">
        <div style="text-align: center;">
            <span style="font-size:30px;text-align:center">添加角色</span>
            <table align="center" class="table table-hover table-bordered" style="width:500px;text-align:center;line-height:60px">
                <tr>
                    <td>编号</td>
                    <td><input id="Text1" type="text" name="Id" /></td>
                </tr>
                <tr>
                    <td>角色名称</td>
                    <td><input id="Text1" type="text" name="RoleName" /></td>
                </tr>

                <tr>
                    <td>权限</td>
                    <td>
                        <div id="div1"></div>
                    </td>
                </tr>
                <tr hidden="hidden">
                    <td>创建时间</td>
                    <td><input id="Text1" type="text" name="CreateTime" value="@DateTime.Now" /></td>
                </tr>

                <tr>
                    <td>是否启用</td>
                    <td>
                        <input id="Radio1" type="radio" name="IsStart" value="1" />是
                        <input id="Radio1" type="radio" name="IsStart" value="0" />否
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input style="width:90px;" id="AddPermission" type="button" class="btn btn-info" value="修改角色" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="Getpermission" style="width:90px;" type="button" class="btn btn-danger" onclick="Getpermission()" value="显示" />
                    </td>
                </tr>
            </table>
        </div>
        <!-- 通用提示框 -->
        <div class="messageBox"></div>
    </form>

</body>
</html>
