
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link href="~/Content/Layui_X_Admin/css/font.css" rel="stylesheet" />
    <link href="~/Content/Layui_X_Admin/css/xadmin.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Content/Layui_X_Admin/lib/layui/layui.js"></script>
    <script src="~/Content/Layui_X_Admin/js/xadmin.js"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*Vue*@
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/vue-resource.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
<body class="layui-anim layui-anim-up">
    <div>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">费用管理</a>
                <a>
                    <cite>人员费</cite>
                </a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
                <i class="layui-icon" style="line-height:30px">ဂ</i>
            </a>
        </div>
        <div class="x-body" id="app">
            <div class="layui-row">
                <!--<form class="layui-form layui-col-md12 x-so">
                    <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    <input type="text" name="username" placeholder="请输入用工单位" autocomplete="off" class="layui-input">
                    <input type="text" name="username" placeholder="请输入合作方名称" autocomplete="off" class="layui-input">
                    <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                </form>-->
            </div>
            <xblock>
                <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                <button class="layui-btn" onclick="add()"><i class="layui-icon"></i>添加</button>
                <span class="x-right" style="line-height:40px">共有数据：88 条</span>
            </xblock>
            <table class="layui-table" lay-size="sm">
                <thead>
                    <tr>
                        <th>
                            <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                        </th>
                        <th>序号</th>
                        <th>年度</th>
                        <th>季度</th>
                        <th>岗位</th>
                        <th>工作完成情况</th>
                        <th>创建时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in GetPersonnelExpenditures">
                        <td>
                            <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
                        </td>
                        <td>{{index + 1}}</td>
                        <td>{{item.Year}}</td>
                        <td>{{item.Quarter}}</td>
                        <td>{{item.Post}}</td>
                        <td>{{item.Completeness}}</td>
                        <td>{{item.CreationTime}}</td>
                        <td>{{item.StrStatus}}<span id="reverse" hidden="hidden">{{item.ReverseStrStatus}}</span></td>
                        <td class="td-manage" id="tdreverse">
                            <a href="javascript:;" v-on:click="recallOrDelete(item.Id ,item.Status)">{{item.ReverseStrStatus}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class="page">
                <div>
                    <a class="prev" href="">&lt;&lt;</a>
                    <a class="num" href="">1</a>
                    <span class="current">2</span>
                    <a class="num" href="">3</a>
                    <a class="num" href="">489</a>
                    <a class="next" href="">&gt;&gt;</a>
                </div>
            </div>

        </div>
    </div>

    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });

        //显示添加Layui模态窗
        function add() {
            //页面层
            layer.open({
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['600px', '800px'], //宽高
                content: 'html内容'
            });
        }
        

    </script>
    <script>
        var _hmt = _hmt || []; (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>

<script type="text/javascript">
    var StaffId = 1;
    var vm = new Vue({
        el: "#app",
        data: {
            GetPersonnelExpenditures: []
        },
        // 挂载完成时
        mounted() {
            this.getPersonnelExpenditure(StaffId);
        },
        methods: {
            //显示
            getPersonnelExpenditure: function (StaffId) {
                axios.get("http://localhost:8099/PersonnelExpenditure/GetPersonnelExpenditures?StaffId=" + StaffId).then(
                    (response) => {
                        console.log(response);
                        this.GetPersonnelExpenditures = response.data;
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
            //撤回/删除
            recallOrDelete: function (id, status) {
                //定义提示变量
                var msg, msg1 = "";
                if (status == 1) {
                    msg = "确认要撤回吗？";
                    msg1 = "撤回";
                }
                if (status == 2) {
                    msg = "确认要删除吗？";
                    msg1 = "删除";
                }
                layer.confirm(msg, function () {
                    axios.post('http://localhost:8099/PersonnelExpenditure/RecallOrDelete?Id=' + id + "&Status=" + status).then(
                        (response) => {
                            console.log(response.data);
                            if (response.data > 0) {
                                //提示 撤回/删除
                                layer.msg(msg1 + '成功！', { icon: 1 });
                                this.getPersonnelExpenditure();
                            }
                            //console.info(this.list);
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                });
            },
        },
    })

</script>