
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/Content/VueScripts/vue.js"></script>
    <script src="~/Content/VueScripts/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link href="~/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />


</head>
<body>
    <input type="hidden" v-model="PersonnelId"/>
    <div id="add">
        <table class="table">
            <tr>
                <td>姓名：</td>
                <td><input type="text" v-model="Name" /><input type="button" onclick="location.href='/EntryDimissionMVC/People'" value="+" style="clear:both" /></td>
            </tr>
            <tr>
                <td>人员ID：</td>
                <td><input type="text" v-model="PersonnelId" /></td>
            </tr>
            <tr>
                <td>性别：</td>
                <td>
                    <input id="Radio1" type="radio" value="男" v-model="Gender" /><span>男</span>
                    <input id="Radio1" type="radio" value="女" v-model="Gender" /><span>女</span>
                </td>
            </tr>
            <tr>
                <td>身份证号：</td>
                <td><input type="text" v-model="IDNumber" class="layui-input" /></td>
            </tr>
            <tr>
                <td>用工单位：</td>
                <td><input type="text" v-model="Employingnit" class="layui-input" /></td>
            </tr>
            <tr>
                <td>合作方名称：</td>
                <td>
                    <select id="Select2" v-model="PartnerName">
                        <option value="请选择">请选择</option>
                        <option v-for="item in EntryByIdName" v-bind:value="item.PartnerName">{{item.PartnerName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>操作类型：</td>
                <td>
                    <select id="Select1" v-model="OperationType">
                        <option value="请选择">请选择</option>
                        <option value="入职">入职</option>
                        <option value="离职">离职</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>入职时间：</td>
                <td><input type="date" v-model="DatesEmployed" class="layui-input" /></td>
            </tr>
            <tr>
                <td>离职时间：</td>
                <td><input type="date" v-model="DepartureTime" class="layui-input" /></td>
            </tr>
            <tr>
                <td>创建时间：</td>
                <td><input type="date" v-model="CreationTime" class="layui-input" /></td>
            </tr>
            <tr>
                <td>修改时间：</td>
                <td><input type="date" v-model="ModificationTime" class="layui-input" /></td>
            </tr>
            <tr>
                <td>是否删除：</td>
                <td>
                    <input id="Radio1" type="radio" value="1" v-model="IsDelete" /><span>是</span>
                    <input id="Radio1" type="radio" value="0" v-model="IsDelete" /><span>否</span>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" v-on:click="AddQCPlan1(Name,PersonnelId,OperationType,DatesEmployed,DepartureTime,CreationTime,ModificationTime,IsDelete)" class="btn btn-default">添加</button>
                    @*<a href="javascript:;" v-on:click="AddQCPlan1(Name,PersonnelId,OperationType,DatesEmployed,DepartureTime,CreationTime,ModificationTime,IsDelete)">添加</a>*@
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#add",
        data: {
            Name: "",
            PersonnelId:"",
            Gender: "",
            IDNumber: "",
            Employingnit: "",
            OperationType:"请选择",
            DatesEmployed: "",
            DepartureTime: "",
            CreationTime: "",
            ModificationTime: "",
            IsDelete:"",
            EntryByIdName: [],
            PartnerName: "请选择",
            
        },

        mounted() {
            this.getEntryByIdName();
        },
        methods:
        {
            //获取合作方名称
            getEntryByIdName: function () {
                axios.get('http://localhost:8099/Partner/GetEntryByIdName').then(
                    (response) => {
                        this.EntryByIdName = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.EntryByIdName.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
            //保存
            AddQCPlan1: function (Name, PersonnelId, OperationType, DatesEmployed, DepartureTime, CreationTime, ModificationTime, IsDelete) {
                var params = new URLSearchParams();
                params.append('Name', Name);
                params.append('PersonnelId', PersonnelId);
                params.append('OperationType', OperationType);
                params.append('DatesEmployed', DatesEmployed);
                params.append('DepartureTime', DepartureTime);
                params.append('CreationTime', CreationTime);
                params.append('ModificationTime', ModificationTime);
                params.append('IsDelete', IsDelete);
                axios.post('http://localhost:8099/EntryDimission/AddEntry', params).then(
                    (response) => {
                        alert("添加成功")
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },

        },
        computed: {
        }

    });

</script>