
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/VueScripts/vue.js"></script>
    <script src="~/Content/VueScripts/axios.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <p>
            姓名：<input type="text" name="Name" />
            用工单位：<input type="text" name="Employingnit" />
            合作方名称：<input type="text" name="PartnerName" />
            <input type="button" value="搜索" />
            <input type="button" value="添加" onclick="location.href='/EntryDimissionMVC/Add'" />
        </p>
    </div>


    <div id="app">
        <table class="table table-bordered">
            <tr>
                <td>序号</td>
                <td>编号</td>
                <td>姓名</td>
                <td>操作类型</td>
                <td>入职时间</td>
                <td>离职时间</td>
                <td>创建时间</td>
                <td>修改时间</td>
                <td>是否删除</td>
                <td>操作</td>
            </tr>
            <tr v-for="(item,index) in GetEntryDimission">
                <td>{{item.Id}}</td>
                <td>{{item.PersonnelId}}</td>
                <td>{{item.Name}}</td>
                <td>
                    <select id="Select2" v-model="item.OperationType">
                        <option value="入职">入职</option>
                        <option value="离职">离职</option>
                    </select>
                </td>
                <td><input type="text" v-model="item.DatesEmployed" /></td>
                <td><input type="text" v-model="item.DepartureTime" /></td>
                <td><input type="text" v-model="item.CreationTime" /></td>
                <td><input type="text" v-model="item.ModificationTime" /></td>
                <td>
                    <input id="Radio1" type="radio" value="1" v-model="item.IsDelete" /><span>是</span>
                    <input id="Radio1" type="radio" value="0" v-model="item.IsDelete" /><span>否</span>
                </td>
                <td>
                    <div>
                        <a href="#" v-on:click="updateContact(item.OperationType,item.DepartureTime,item.DatesEmployed,item.ModificationTime,item.IsDelete,item.Id)">修改</a>
                        <a href="#" v-on:click="deleteById(item.Id)">删除</a>
                    </div>
                    
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            GetEntryDimission: []
        },
        mounted() {
            this.GetPersonal();
        },
        methods: {
            //显示入离职记录
            GetPersonal: function () {
                axios.get("http://localhost:8099/EntryDimission/GetEntryDimissionRecords").then(
                    (response) => {
                        console.log(response);
                        this.GetEntryDimission = response.data;
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
            //删除
            deleteById: function (id) {
                layer.confirm('确认要删除吗？', function (index) {
                    axios.post('http://localhost:8099/EntryDimission/DeleteEntry?id=' + id).then(
                        (response) => {
                            if (response.data>0) {
                                layer.msg('已删除!', { icon: 1, time: 1000 }); 
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                })
                
            },
            ////修改入离职信息
            updateContact: function (OperationType, DatesEmployed, DepartureTime, ModificationTime, IsDelete, Id) {
                var params = new URLSearchParams();
                params.append('OperationType', OperationType);
                params.append('DatesEmployed', DatesEmployed);
                params.append('DepartureTime', DepartureTime);
                params.append('ModificationTime', ModificationTime);
                params.append('IsDelete', IsDelete);
                params.append('Id', Id);
                axios.post('http://localhost:8099/EntryDimission/UpdateEntry?Id=' + Id, params).then(
                    (response) => {
                        if (response.data > 0) {
                            alert("修改成功");
                            this.GetPersonal();
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
        }
    })
</script>