
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>People</title>
</head>
<body>
    <div> 
        <p><input type="text" /><input type="button" value="搜索" /></p>
        <table>
            <tr>
                <td><input type="radio" name="check"/></td>
                <td>编号</td>
                <td>姓名</td>
                <td>性别</td>
                <td>身份证号</td>
                <td>用工单位</td>
                <td>合作方名称</td>
            </tr>
            <tr v-for="(item,index) in GetEntryDimission">
                <td><input type="radio" name="check"/></td>
                <td><input type="text" v-model="item.PersonnelId" /></td>
                <td><input type="text" v-model="item.Name" /></td>
                <td><input type="text" v-model="item.Gender" /></td>
                <td><input type="text" v-model="item.DatesEmployed" /></td>
                <td><input type="text" v-model="item.DepartureTime" /></td>
                <td><input type="text" v-model="item.CreationTime" /></td>
                
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            GetEntryDimission: []
        },
        mounted() {
            this.GetPersonal();
        },
        methods: {
            //显示
            GetPersonal: function () {
                axios.get("http://localhost:8099/EntryDimission/GetEntryDimissionRecords").then(
                    (response) => {
                        console.log(response);
                        this.GetEntryDimission = response.data;
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
            
            
        }
    })
</script>